<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Paste</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="pull-left">
                <div class="navbar-header">
                    <h1><a href="/">Paste</a></h1>
                </div>
            </div>
            <% if @id %>
                <div class="pull-right">
                    <div class="navbar-buttons">
                        <a href="/" class="btn">Paste something else</a>
                    </div>
                </div>
            <% end %>
        </div>
      </div>
    </div>

    <div id="wrap">   
        <%= yield %>
    </div>
  
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/scripts.js"></script>
  
</body>
</html>
