<div class="container-fluid show">
    <div class="row">
        <div class="col-md-12 col">
            <div class="code">
                <div class="numbers">
                    <% (1..@number_of_lines_to_show.to_i).step do |line| %>
                        <div>
                            <%= line %>
                        </div>
                    <% end %>
                </div>
                <div class="content">
                    <%= @paste['formatted_body'] %>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="age">
        Pasted <%= distance_of_time_in_words(Time.at(@paste['created_at'])) %> ago
        <% if @paste['updated_at'] %>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Updated <%= distance_of_time_in_words(Time.at(@paste['updated_at'])) %> ago
        <% end %>
    </div>
</div>