/* Fonts */

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/proximanova-thin.eot');
    src: url('../fonts/proximanova-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-thin.woff') format('woff'),
         url('../fonts/proximanova-thin.ttf') format('truetype'),
         url('../fonts/proximanova-thin.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}

/* Basics */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Proxima Nova', 'Lucida Grande', Arial, sans-serif;
    padding: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

html,
body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Proxima Nova', 'Lucida Grande', Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

h1 {
    font-weight: 100;
    font-size: 36px;
    line-height: 60px;
}

pre {
    border: 0;
    border-radius: 0;
    background-color: #ecf0f1;
    margin: 0;
}

a,
a:hover {
    color: white;
}
    a:hover {
        text-decoration: none;
    }
    
textarea:focus {
    border: 0 !important;
    box-shadow: 0 !important;
    outline: 0 none !important;
}
    
textarea.form-control {
    resize: none;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    outline: 0 none;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.btn {
    border-radius: 2px;
    background-color: #b344f3;
    color: white;
    border: 0;
    font-size: 17px;
    font-weight: 400;
}
    .btn:hover {
        background-color: #8e44ad;
        color: white;
    }
    
.show .row {
    margin-right: 0;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -56px;
  padding: 0 0 56px;
  background-color: #ecf0f1;
}

    #wrap .container-fluid {
      padding-top: 60px;
      height: 100%;
    }

.navbar {
    background-color: #b344f3;
    border-bottom: 0;
    min-height: 0;
    height: 60px;
    margin-bottom: 0;
    padding-left: 10px;
    color: white;
}

.navbar-buttons {
    padding: 12px;
}

    .navbar-buttons .btn {
        background-color: white;
        color: #b344f3;
    }
    
    .navbar-buttons .btn:hover {
        background-color: #ecf0f1;
    }

.form-group {
    margin-bottom: 0;
}


.code {
    background-color: #ecf0f1;
}

.code .numbers {
    float: left;
    width: 5%;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 9.5px;
    margin: 0;
    font-size: 13px;
    line-height: 1.428571429;
    color: white;
    background-color: #95a5a6;
    text-align: right;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code .content {
    float: left;
    width: 95%;
    margin: 0;
}

.code .content .scrolling {
    width: 10000px;
    overflow-x: scroll;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 56px;
}
    .footer .buttons {
        margin-top: 0;
        background-color: #bdc3c7;
        padding: 10px;
    }
    
    .footer .age {
        margin-top: 0;
        background-color: #bdc3c7;
        color: white;
        padding-left: 15px;
        line-height: 56px;
        font-size: 15px;
    }

/* Solarized Dark theme for Pygments from @zmanji https://gist.github.com/1573884 */
.highlight{background-color:#ecf0f1;color:#93a1a1}
.highlight .c{color:#586e75 !important;font-style:italic !important}
.highlight .cm{color:#586e75 !important;font-style:italic !important}
.highlight .cp{color:#586e75 !important;font-style:italic !important}
.highlight .c1{color:#586e75 !important;font-style:italic !important}
.highlight .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}
.highlight .err{color:#dc322f !important;background:none !important}
.highlight .k{color:#cb4b16 !important}
.highlight .o{color:#93a1a1 !important;font-weight:bold !important}
.highlight .p{color:#93a1a1 !important}
.highlight .ow{color:#2aa198 !important;font-weight:bold !important}
.highlight .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}
.highlight .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}
.highlight .ge{color:#93a1a1 !important;font-style:italic !important}
.highlight .gr{color:#aa0000}
.highlight .gh{color:#586e75 !important}
.highlight .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}
.highlight .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}
.highlight .go{color:#888888}
.highlight .gp{color:#555555}
.highlight .gs{color:#93a1a1 !important;font-weight:bold !important}
.highlight .gu{color:#6c71c4 !important}
.highlight .gt{color:#aa0000}
.highlight .kc{color:#859900 !important;font-weight:bold !important}
.highlight .kd{color:#268bd2 !important}
.highlight .kp{color:#cb4b16 !important;font-weight:bold !important}
.highlight .kr{color:#d33682 !important;font-weight:bold !important}
.highlight .kt{color:#2aa198 !important}
.highlight .n{color:#268bd2 !important}
.highlight .na{color:#268bd2 !important}
.highlight .nb{color:#859900 !important}
.highlight .nc{color:#d33682 !important}
.highlight .no{color:#b58900 !important}
.highlight .ni{color:#800080}
.highlight .nl{color:#859900 !important}
.highlight .ne{color:#268bd2 !important;font-weight:bold !important}
.highlight .nf{color:#268bd2 !important;font-weight:bold !important}
.highlight .nn{color:#b58900 !important}
.highlight .nt{color:#268bd2 !important;font-weight:bold !important}
.highlight .nx{color:#b58900 !important}
.highlight .bp{color:#999999}
.highlight .vc{color:#008080}
.highlight .vg{color:#268bd2 !important}
.highlight .vi{color:#268bd2 !important}
.highlight .nv{color:#268bd2 !important}
.highlight .w{color:#bbbbbb}
.highlight .mf{color:#2aa198 !important}
.highlight .m{color:#2aa198 !important}
.highlight .mh{color:#2aa198 !important}
.highlight .mi{color:#2aa198 !important}
.highlight .mo{color:#009999}
.highlight .s{color:#2aa198 !important}
.highlight .sb{color:#d14}
.highlight .sc{color:#d14}
.highlight .sd{color:#2aa198 !important}
.highlight .s2{color:#2aa198 !important}
.highlight .se{color:#dc322f !important}
.highlight .sh{color:#d14}
.highlight .si{color:#268bd2 !important}
.highlight .sx{color:#d14}
.highlight .sr{color:#2aa198 !important}
.highlight .s1{color:#2aa198 !important}
.highlight .ss{color:#990073}
.highlight .il{color:#009999}
.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}    

@media (max-width: 991px) {
    .code .numbers {
        font-size: 11px;
        width: 10%;
    }
    .code .content {
        width: 90%;
    }
    pre {
        font-size: 11px;
    }
    .date {
        padding: 8px;
        font-size: 11px;
    }
    h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .navbar {
        height: 40px;
    }
    
    #wrap {
        padding-top: 0px;
    }
    #wrap .container-fluid {
        padding-top: 40px;
    }
    .navbar-buttons {
        padding: 5px;
    }
    
    .btn {
        font-size: 12px;
    }
    
    #pastie_body {
        min-height: 240px;
    }
}

@media (max-width: 640px) {
    .code .numbers {
        font-size: 10px;
    }
    pre {
        font-size: 10px;
    }
    .date {
        padding: 5px;
        font-size: 10px;
    }
}